{
	"animations" : ["/humanoid/sbq/IcyVixen/Fray/sbq/balls/balls.animation"],
	"occupantAnimations" : ["/humanoid/sbq/IcyVixen/Fray/sbq/balls/sbqOccupant.animation"],

	"hideCrotch" : {
		"ballsHiddenState" : ["true"]
	},
	"showCrotch" : {
		"ballsHiddenState" : ["false"]
	},
	"bodyFullbrightParts" : [
		"balls_left",
		"balls_right"
	],

	"locations" : {
		"balls" : {
			"infuseType" : "cockInfuse",
			"infuseColors" : true,
			"infuseSize" : true,
			"activeSettings" : [{"vorePrefs":{"cockVore":{"pred":true}}}],
			"symmetrySettings" : {"ballsSymmetric":true},
			"subLocationBehavior" : "average",
			"maxSize" : 1.5,
			"struggleSizes":[0,1],
			"interpolateSizes":[0,
				0.125,0.25,0.375,0.5,0.625,0.75,0.875,1
			],
			"subLocations" : {
				"left" : {"sizeChangeAnims" : { "balls_leftExpandState" : ["expand", true] }},
				"right" : {"sizeChangeAnims" : { "balls_rightExpandState" : ["expand", true] }}
			},
			"sizeChangeAnims" : { "ballsExpandState" : ["expand", true] },
			"climaxEmitters" : {
				"cock_climax" : {"blockingStats":["sbq_hideCrotch"],"setting":"cockLeakiness","addCount":["cock"]}
			}
		}
	},
	"states" : {
		"default" : {
			"actions" : {

			},
			"interactActions" : {

			},
			"locations" : {
				"balls" : {
					"entryTypes" : ["cockVore"],
					"struggleActions" : {
						"any" : {
							"givePredResource" : {"sbqLust":1},
							"givePreyResource" : {"sbqLust":1},

							"pressAnimations" : {"ballsState" : ["s_<s_direction>_press", false],"<occupant>State":["s_<s_direction>",false,false,true]},
							"holdAnimations" : {"ballsState" : ["s_<s_direction>_hold",false,false,true]},
							"releaseAnimations" : {"ballsState" : ["s_<s_direction>_release", false]},
							// minimum, maximum
							"time" : [10,15], // hold time for struggles to trigger action, checked once for every second held
							"count" : [10,30] // count of struggles to trigger action
						},
						"up" : {"indicate":"green", "action":"moveToLocation", "args":["cock"]},
						"down" : {},
						"front" : {},
						"back" : {}
					},
					"subLocations" : {
						"right" : {"struggleActions" :{
							"any" : {
								"givePredResource" : {"sbqLust":1},
								"givePreyResource" : {"sbqLust":1},

								"pressAnimations" : {"balls_rightState" : ["s_<s_direction>_press", false],"<occupant>State":["s_<s_direction>",false,false,true]},
								"holdAnimations" : {"balls_rightState" : ["s_<s_direction>_hold",false,false,true]},
								"releaseAnimations" : {"balls_rightState" : ["s_<s_direction>_release", false]},
								// minimum, maximum
								"time" : [10,15], // hold time for struggles to trigger action, checked once for every second held
								"count" : [10,30] // count of struggles to trigger action
							},
							"up" : {"indicate":"green", "action":"moveToLocation", "args":["cock"]},
							"down" : {},
							"front" : {"indicate":"cyan", "action":"moveToLocation", "args":["balls","left"]},
							"back" : {}
						}},
						"left" : {"struggleActions" :{
							"any" : {
								"givePredResource" : {"sbqLust":1},
								"givePreyResource" : {"sbqLust":1},

								"pressAnimations" : {"balls_leftState" : ["s_<s_direction>_press", false],"<occupant>State":["s_<s_direction>",false,false,true]},
								"holdAnimations" : {"balls_leftState" : ["s_<s_direction>_hold",false,false,true]},
								"releaseAnimations" : {"balls_leftState" : ["s_<s_direction>_release", false]},
								// minimum, maximum
								"time" : [10,15], // hold time for struggles to trigger action, checked once for every second held
								"count" : [10,30] // count of struggles to trigger action
							},
							"up" : {"indicate":"green", "action":"moveToLocation", "args":["cock"]},
							"down" : {},
							"front" : {},
							"back" : {"indicate":"cyan", "action":"moveToLocation", "args":["balls","right"]}
						}}

					}
				}
			}
		}
	},
	"availableVoreTypes" : {

	},
	"availableInfuseTypes": {

	}
}
