{
	"includes" : ["/humanoid/any/sbqModules/pussy/sbqModule.config"], // TODO make this not inherit and just have its own data

	"animations" : ["/humanoid/sbq/LakotaAmitola/ziellekDragon/sbq/pussy/pussy.animation"],
	"occupantAnimations" : ["/humanoid/sbq/LakotaAmitola/ziellekDragon/sbq/pussy/sbqOccupant.animation"],

	"hideCrotch" : {
		"pussyHiddenState" : ["true"]
	},
	"showCrotch" : {
		"pussyHiddenState" : ["false"]
	},
	"bodyFullbrightParts" : [
		"pussy"
	],

	"locations" : {
		"womb" : {
			"infuseType" : "pussyInfuse",
			"infuseSize" : true,
			"activeSettings" : [{"vorePrefs":{"unbirthVore":{"pred":true}}}],
			"sharedWith" : ["belly"],
			"addSize" : ["belly"],
			"maxSize" : 2,
			"struggleSizes" : [0,0.25,0.5,0.75,1,2],
			"climaxEmitters" : {
				"pussy_climax" : {"blockingStats":["sbq_hideCrotch","sbq_pussyCovered"],"setting":"pussyLeakiness", "addCount" : ["pussy"]}
			}
		},
		"pussy" : {
			"infuseType" : "pussyInfuse",
			"infuseColors" : true,
			"activeSettings" : [
				{"vorePrefs":{"unbirthVore":{"pred":true}}}
			],
			"maxSize" : 1.5,
			"sendDeeperAction" : {
				"action" : "moveToLocation",
				"args" : ["womb"]
			},
			"climaxEmitters" : {
				"pussy_climax" : {"blockingStats":["sbq_hideCrotch","sbq_pussyCovered"],"setting":"pussyLeakiness", "addCount" : ["womb"]}
			},
			"leakEmitters" : {
				"pussy_leak_1" : {"blockingStats":["sbq_hideCrotch","sbq_pussyCovered"],"setting":"pussyLeakiness", "addCount" : ["womb"]},
				"pussy_leak_2" : {"blockingStats":["sbq_hideCrotch","sbq_pussyCovered"],"setting":"pussyLeakiness", "addCount" : ["womb"]}
			}
		}
	},
	"states" : {
		"default" : {
			"actions" : {
				"unbirthVore" : {
					"targetSettings" : {"vorePrefs":{"unbirthVore":{"prey":true}}},
					"settings" : [
						{
							"vorePrefs":{"unbirthVore":{"pred":true}}
						},
						{
							"infusePrefs":{"pussyInfuse":{"pred":true}},
							"vorePrefs":{"unbirthVore":{"pred":true}}
						}
					],
					"script" : "tryVore",
					"availableScript" : "voreAvailable",
					"failureScript" : "trySendDeeper",
					"animations" : {
						"<occupant>State" : ["unbirthVore",true],
						"<occupant>Location" : ["default",true],
						"tailState" : ["raise", true]
					},
					"location" : "pussy",
					"throughput" : 1.5,
					"hideSlots" : {
						"legs" : true
					}
				},
				"unbirthVoreLetout" : {
					"targetSettings" : {"vorePrefs":{"unbirthVore":{"prey":true}}},
					"settings" : {
						"vorePrefs":{"unbirthVore":{"pred":true}}
					},
					"script" : "tryLetout",
					"animations" : {
						"<occupant>State" : ["unbirthVore",true, true],
						"<occupant>Location" : ["default",true],
						"tailState" : ["raise", true]
					},
					"throughput" : 1.5,
					"hideSlots" : {
						"legs" : true
					},
					"applyStatusEffects" : [
						["sbqWetFemcum"]
					]
				}
			},
			"interactActions" : {
				"unbirthVore" : {
					"action":"unbirthVore",
					"aimPart":"pussy","aim":"interact","aimRadius":2,
					"posPart":"body","pos":"front"
				}
			},
			"locations" : {
				"womb" : {
					"entryTypes" : ["unbirthVore"],
					"struggleActions" : {
						"any" : {
							"givePredResource" : {"sbqLust":1},
							"givePreyResource" : {"sbqLust":1},

							"pressAnimations" : {"bellyState" : ["s_<s_direction>_press", false],"<occupant>State":["s_<s_direction>",false,false,true]},
							"holdAnimations" : {"bellyState" : ["s_<s_direction>_hold",false,false,true]},
							"releaseAnimations" : {"bellyState" : ["s_<s_direction>_release", false]},
							// minimum, maximum
							"time" : [10,15], // hold time for struggles to trigger action, checked once for every second held
							"count" : [10,30] // count of struggles to trigger action
						},
						"up" : {},
						"back" : {"indicate":"green", "action":"moveToLocation", "args":["pussy"]},
						"front" : {},
						"down" : {}
					}
				},
				"pussy" : {
					"entryTypes" : ["unbirthVore"],
					"struggleActions" : {
						"any" : {
							"givePredResource" : {"sbqLust":1},
							"givePreyResource" : {"sbqLust":1},

							"pressAnimations" : {"<occupant>State":["s_<s_direction>",false,false,true]},
							"holdAnimations" : {},
							"releaseAnimations" : {},
							// minimum, maximum
							"time" : [3,6], // hold time for struggles to trigger action, checked once for every second held
							"count" : [3,6] // count of struggles to trigger action
						},
						"front" : {"indicate":"cyan", "action":"moveToLocation", "args":["womb"]},
						"back" : {"indicate":"red", "action":"unbirthVoreLetout"},
						"up" : {},
						"down" : {}
					}
				}
			}
		}
	},
	"availableVoreTypes" : {
		"unbirthVore" : true
	},
	"availableInfuseTypes": {
	}

}
