{
	"animations" : ["/humanoid/sbq/LakotaAmitola/ziellekDragon/sbq/belly/belly.animation"],
	"occupantAnimations" : ["/humanoid/sbq/LakotaAmitola/ziellekDragon/sbq/belly/sbqOccupant.animation"],

	"bodyFullbrightParts" : [
		"belly",
		"neck"
	],

	"locations" : {
		"belly" : {
			"activeSettings" : [
				{"vorePrefs":{"oralVore":{"pred":true}}},
				{"vorePrefs":{"analVore":{"pred":true}}},
				{"vorePrefs":{"navelVore":{"pred":true}}},
				{"vorePrefs":{"absorbVore":{"pred":true}}}
			],
			"sharedWith" : ["womb"],
			"addSize" : ["womb"],
			"maxSize" : 2,
			"struggleSizes" : [0,1,2],
			"interpolateSizes":[ 0,
				0.125, 0.25, 0.375, 0.5, 0.625, 0.75, 0.875, 1,
				1.125, 1.25, 1.375, 1.5, 1.625, 1.75, 1.875, 2
			],
			"sizeChangeAnims" : { "bellyExpandState" : ["expand",true] }
		},
		"ass" : {
			"activeSettings" : [
				{"vorePrefs":{"analVore":{"pred":true}}}
			],
			"maxSize" : 1.5,
			"sendDeeperAction" : {
				"action" : "moveToLocation",
				"args" : ["belly"]
			}
		}
	},
	"states" : {
		"default":{
			"actions" : {
				"oralVore" : {
					"targetSettings" : {"vorePrefs":{"oralVore":{"prey":true}}},
					"settings" : {"vorePrefs":{"oralVore":{"pred":true}}},
					"script" : "tryVore",
					"availableScript" : "voreAvailable",
					"failureScript" : "trySendDeeper",
					"animations" : {
						"<occupant>State" : ["oralVore",true],
						"<occupant>Location" : ["default",true],
						"headState" : ["eat",true]
					},
					"location" : "belly",
					"throughput" : 1.5
				},
				"oralVoreLetout" : {
					"targetSettings" : {"vorePrefs":{"oralVore":{"prey":true}}},
					"settings" : {"vorePrefs":{"oralVore":{"pred":true}}},
					"script" : "tryLetout",
					"animations" : {
						"<occupant>State" : ["oralVore",true, true],
						"<occupant>Location" : ["default",true],
						"headState" : ["eat", true, true]
					},
					"throughput" : 1.5,
					"applyStatusEffects" : [
						["sbqWetDrool"]
					]
				},

				"analVore" : {
					"targetSettings" : {"vorePrefs":{"analVore":{"prey":true}}},
					"settings" : {"vorePrefs":{"analVore":{"pred":true}}},
					"script" : "tryVore",
					"availableScript" : "voreAvailable",
					"failureScript" : "trySendDeeper",
					"animations" : {
						"<occupant>State" : ["analVore",true],
						"<occupant>Location" : ["default",true],
						"tailState" : ["raise", true]
					},
					"location" : "ass",
					"throughput" : 1.5,
					"hideSlots" : {
						"legs" : true
					}
				},
				"analVoreLetout" : {
					"targetSettings" : {"vorePrefs":{"analVore":{"prey":true}}},
					"settings" : {"vorePrefs":{"analVore":{"pred":true}}},
					"script" : "tryLetout",
					"animations" : {
						"<occupant>State" : ["analVore",true, true],
						"<occupant>Location" : ["default",true],
						"tailState" : ["raise", true]
					},
					"throughput" : 1.5,
					"hideSlots" : {
						"legs" : true
					}
				}
			},
			"locations" : {
				"belly" : {
					"entryTypes" : ["oralVore","analVore"],
					"struggleActions" : {
						"any" : {
							"givePredResource" : {"food":0.5}, // just a little something so endo preds can gain it

							"pressAnimations" : {"bellyState" : ["s_<s_direction>_press", false],"<occupant>State":["s_<s_direction>",false,false,true]},
							"holdAnimations" : {"bellyState" : ["s_<s_direction>_hold",false,false,true]},
							"releaseAnimations" : {"bellyState" : ["s_<s_direction>_release", false]},
							// minimum, maximum
							"time" : [10,15], // hold time for struggles to trigger action, checked once for every second held
							"count" : [10,30] // count of struggles to trigger action
						},
						"front" : {"indicate":"red", "action":"oralVoreLetout"},
						"back" : {"indicate":"cyan", "action":"moveToLocation", "args":["ass"]},
						"down" : {"indicate":"red", "action":"navelVoreLetout"},
						"up" : {"indicate":"cyan", "action":"moveToLocation", "args":["tail"]}
					}
				},
				"ass" : {
					"entryTypes" : ["analVore"],
					"struggleActions" : {
						"any" : {
							"givePredResource" : {"sbqLust":1},
							"givePreyResource" : {"sbqLust":1},

							"pressAnimations" : {"<occupant>State":["s_<s_direction>",false,false,true]},
							"holdAnimations" : {},
							"releaseAnimations" : {},
							// minimum, maximum
							"time" : [3,6], // hold time for struggles to trigger action, checked once for every second held
							"count" : [3,6] // count of struggles to trigger action
						},
						"front" : {"indicate":"cyan", "action":"moveToLocation", "args":["belly"]},
						"back" : {"indicate":"red", "action":"analVoreLetout"},
						"down" : {},
						"up" : {}
					}
				}

			},
			"interactActions" : {
				"oralVore" : {
					"action":"oralVore",
					"aimPart":"head","aim":"interact","aimRadius":2,
					"posPart":"body","pos":"front"
				},
				"analVore" : {
					"action":"analVore",
					"aimPart":"body","aim":"analInteract","aimRadius":2,
					"posPart":"body","pos":"back"
				}

			}
		}
	},

	"availableVoreTypes" :{
		"oralVore":true,
		"analVore":true

	},
	"availableInfuseTypes" : {
	}

}
