{
	"animations" : ["/humanoid/sbq/Xeronious/Kaiju/tail.animation"],
	"occupantAnimations" : ["/humanoid/sbq/Xeronious/Kaiju/sbq/tail/sbqOccupant.animation"],
	"bodyFullbrightParts" : [
		"tail",
		"tailFront"
	],

	"locations" :{
		"tail" : {
			"infuseType" : "tailInfuse",
			"infuseColors" : true,
			"activeSettings" : [
				{"vorePrefs":{"tailVore":{"pred":true}}}
			],
			"maxSize" : 1.5, // just allow things that are slightly off to fit in
			"struggleSizes" : [0,1],
			"interpolateSizes" : [ 0,
				0.125,0.25,0.375,0.5,0.625,0.75,0.875,1
			],
			"sizeChangeAnims" : { "tailExpandState" : ["expand", true] },
			"sendDeeperAction" : {
				"action" : "moveToLocation",
				"args" : ["belly"]
			}
		}

	},
	"states" : {
		"default" : {
			"actions" : {
				"tailVore" : {
					"targetSettings" : {"vorePrefs":{"tailVore":{"prey":true}}},
					"settings" : [
						{
							"vorePrefs":{"tailVore":{"pred":true}}
						},
						{
							"infusePrefs":{"tailInfuse":{"pred":true}},
							"vorePrefs":{"tailVore":{"pred":true}}
						}
					],
					"script" : "tryVore",
					"availableScript" : "voreAvailable",
					"failureScript" : "trySendDeeper",
					"animations" : {
						"<occupant>State" : ["tailVore",true],
						"<occupant>Location" : ["default",true]
					},
					"sizeChangeAnims" : {
						"tailExpandState" : ["eat",true]
					},
					"forceSizeRefresh" : true,
					"location" : "tail",
					"throughput" : 1.5
				},
				"tailVoreLetout" : {
					"targetSettings" : {"vorePrefs":{"tailVore":{"prey":true}}},
					"settings" : {"vorePrefs":{"tailVore":{"pred":true}}},
					"script" : "tryLetout",
					"animations" : {
						"<occupant>State" : ["tailVore",true, true],
						"<occupant>Location" : ["default",true]
					},
					"sizeChangeAnims" : {
						"tailExpandState" : ["eat",true]
					},
					"forceSizeRefresh" : true,
					"throughput" : 1.5,
					"applyStatusEffects" : [
						["sbqWetDrool"]
					],
					"location" : "tail" // the specific location to lock the size of
				}

			},
			"locations" : {
				"tail" : {
					"entryTypes" : ["tailVore"],
					"struggleActions" : {
						"any" : {
							"givePredResource" : {"food":0.5}, // just a little something so endo preds can gain it

							"pressAnimations" : {"tailState" : ["s_<s_direction>_press", false],"<occupant>State":["s_<s_direction>",false,false,true]},
							"holdAnimations" : {"tailState" : ["s_<s_direction>_hold",false,false,true]},
							"releaseAnimations" : {"tailState" : ["s_<s_direction>_release", false]},
							// minimum, maximum
							"time" : [10,15], // hold time for struggles to trigger action, checked once for every second held
							"count" : [10,30] // count of struggles to trigger action
						},
						"up" : {},
						"down" : {},
						"front" : {"indicate":"cyan", "action":"moveToLocation", "args":["belly"]},
						"back" : {"indicate":"red", "action":"tailVoreLetout"}
					}
				}

			},
			"interactActions" : {
				"tailVore" : {
					"action":"tailVore",
					"aimPart":"tail","aim":"interact","aimRadius":2,
					"posPart":"tail","pos":"back"
				}

			}
		}
	},
	"availableVoreTypes" : {
		"tailVore":true
	},
	"availableInfuseTypes" : {
	}
}
