{
	"includes" : ["/humanoid/any/sbqModules/base/sbqModule.config"],
	"scripts" : ["/humanoid/sbq/slime/voreScripts.lua"],
	"occupantAnimations" : ["/humanoid/sbq/slime/sbqOccupant.animation"],

	"species" : "Slime",
	"locations" : {"slime" : {
		"countBasedOccupancy" : true,
		"maxCount" : 1,
		"maxSize" : 1.5,
		"struggleSizes" : [0,1],
		"secondaryEffects" : {
			"transform" : ["sbqTransformation"]
		}
	}},
	"states" : {
		"default" : {
			"actions" : {
				"vore" : {
					"script" : "actionSequence",
					"availableScript" : "actionSequenceAvailable",
					"untilFirstSuccess" : true,
					"actionList" : [
						["absorbVore"]
					]
				},
				"absorbVore" : {
					"targetSettings" : {"vorePrefs":{"absorbVore":{"prey":true}}},
					"settings" : {"vorePrefs":{"absorbVore":{"pred":true}}},
					"script" : "tryVore",
					"availableScript" : "voreAvailable",
					"animations" : {
						"bellyExpandState" : ["eat",true],
						"<occupant>State" : ["absorbVore",true],
						"<occupant>Location" : ["default",true]
					},
					"location" : "slime",
					"throughput" : 1.5
				},
				"absorbVoreLetout" : {
					"targetSettings" : {"vorePrefs":{"absorbVore":{"prey":true}}},
					"settings" : {"vorePrefs":{"absorbVore":{"pred":true}}},
					"script" : "tryLetout",
					"animations" : {
						"bellyExpandState" : ["eat",true,true],
						"<occupant>State" : ["absorbVore",true, true],
						"<occupant>Location" : ["default",true]
					},
					"throughput" : 1.5,
					"applyStatusEffects" : [
						["sbqWetDrool"]
					]
				}
			},
			"locations" : {
				"slime" : {
					"entryTypes" : ["absorbVore"],
					"struggleActions" : {
						"any" : {
							"givePredResource" : {"food":0.5}, // just a little something so endo preds can gain it

							"pressAnimations" : {"bellyState" : ["s_<s_direction>_press", false],"<occupant>State":["s_<s_direction>_press",false,false,true]},
							"holdAnimations" : {"bellyState" : ["s_<s_direction>_hold",false,false,true],"<occupant>State":["s_<s_direction>_hold",false,false,true]},
							"releaseAnimations" : {"bellyState" : ["s_<s_direction>_release", false],"<occupant>State":["s_<s_direction>_release",false,false,true]},
							// minimum, maximum
							"time" : [10,15], // hold time for struggles to trigger action, checked once for every second held
							"count" : [10,30] // count of struggles to trigger action
						},
						"up" : {"indicate":"red", "action":"absorbVoreLetout"},
						"down" : {},
						"front" : {},
						"back" : {}
					}
				}
			},
			"interactActions" : {}
		}
	},
	"actionList" : [
		{"action":"absorbVore"}
	],
	"availableVoreTypes" : {
		"absorbVore":true
	}

}
