{
	"animations" : ["/humanoid/sbq/IcyVixen/Fray/sbq/cock/cock.animation"],
	"occupantAnimations" : ["/humanoid/sbq/IcyVixen/Fray/sbq/cock/sbqOccupant.animation"],

	"hideCrotch" : {
		"cockHiddenState" : ["true"]
	},
	"showCrotch" : {
		"cockHiddenState" : ["false"]
	},
	"transformGroupAnimProperties" : {
		"cock_particles" : {"part":"cock","translate":"<cockSize>-particles"}
	},
	"bodyFullbrightParts" : [
		"cock"
	],

	"locations" : {
		"cock" : {
			"infuseType" : "cockInfuse",
			"infuseColors" : true,
			"infuseSize" : true,
			"activeSettings" : [{"vorePrefs":{"cockVore":{"pred":true}}}],
			"maxSize" : 1.5, // just allow things that are slightly off to fit in
			"maxCount" : 1,
			"struggleSizes":[0,1],
			"interpolateSizes":[0,
				0.125,0.25,0.375,0.5,0.625,0.75,0.875,1
			],
			"sizeChangeAnims" : { "cockExpandState" : ["expand", true] },
			"sendDeeperAction" : {
				"action" : "moveToLocation",
				"args" : ["balls"]
			},
			"climaxEmitters" : {
				"cock_climax" : {"blockingStats":["sbq_hideCrotch","sbq_cockCovered"],"setting":"cockLeakiness", "addCount" : ["balls"]}
			},
			"leakEmitters" : {
				"cock_leak_1" : {"blockingStats":["sbq_hideCrotch","sbq_cockCovered"],"setting":"cockLeakiness", "addCount" : ["balls"]},
				"cock_leak_2" : {"blockingStats":["sbq_hideCrotch","sbq_cockCovered"],"setting":"cockLeakiness", "addCount" : ["balls"]}
			}
		}
	},
	"states" : {
		"default": {
			"actions" : {
				"cockVore" : {
					"targetSettings" : [
						{"vorePrefs":{"cockVore":{"prey":true}}}
					],
					"settings" : [
						{
							"vorePrefs":{"cockVore":{"pred":true}}
						},
						{
							"infusePrefs":{"cockInfuse":{"pred":true}},
							"vorePrefs":{"cockVore":{"pred":true}}
						}
					],
					"script" : "tryVore",
					"availableScript" : "voreAvailable",
					"failureScript" : "trySendDeeper",
					"animations" : {
						"<occupant>State" : ["cockVore",true],
						"<occupant>Location" : ["default",true]
					},
					"location" : "cock",
					"throughput" : 1.5,
					"hideSlots" : {
						"legs" : true
					}
				},
				"cockVoreLetout" : {
					"targetSettings" : {"vorePrefs":{"cockVore":{"prey":true}}},
					"settings" : {
						"vorePrefs":{"cockVore":{"pred":true}}
					},
					"script" : "tryLetout",
					"animations" : {
						"<occupant>State" : ["cockVore",true, true],
						"<occupant>Location" : ["default",true]
					},
					"throughput" : 1.5,
					"hideSlots" : {
						"legs" : true
					},
					"applyStatusEffects" : [
						["sbqWetCum"]
					]
				}
			},
			"locations" : {
				"cock" : {
					"entryTypes" : ["cockVore"],
					"struggleActions" : {
						"any" : {
							"givePredResource" : {"sbqLust":1},
							"givePreyResource" : {"sbqLust":1},

							"pressAnimations" : {"cockState" : ["s_<s_direction>_press", false],"<occupant>State":["s_<s_direction>",false,false,true]},
							"holdAnimations" : {"cockState" : ["s_<s_direction>_hold",false,false,true]},
							"releaseAnimations" : {"cockState" : ["s_<s_direction>_release", false]},
							// minimum, maximum
							"time" : [10,15], // hold time for struggles to trigger action, checked once for every second held
							"count" : [10,30] // count of struggles to trigger action
						},
						"up" : {"indicate":"cyan", "action":"moveToLocation", "args":["balls"]},
						"down" : {"indicate":"red", "action":"cockVoreLetout"},
						"front" : {},
						"back" : {}
					}
				}
			},
			"interactActions" : {
				"cockVore" : {
					"action":"cockVore",
					"aimPart":"cock","aim":"interact","aimRadius":2,
					"posPart":"body","pos":"front"
				}
			}
		}
	},
	"availableVoreTypes" : {
		"cockVore" : true
	},
	"availableInfuseTypes" : {
	}
}
